{% extends 'base.html' %}

{% block content %}
    <h1>Personwagon Overview</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=32) }}<br>
            {% for error in form.id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.seats.label }}<br>
            {{ form.seats(size=32) }}<br>
            {% for error in form.seats.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.max_weight.label }}<br>
            {{ form.max_weight(size=32) }}<br>
            {% for error in form.max_weight.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.width.label }}<br>
            {{ form.width(size=4) }}<br>
            {% for error in form.width.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}