{% extends 'base.html' %}

{% block content %}
    <h1>Train Overview</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=32) }}<br>
            {% for error in form.id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.railwagon.label }}<br>
            {{ form.railwagon(size=4) }}<br>
            {% for error in form.railwagon.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.personwagons.label }}<br>
            {{ form.personwagons(size=4) }}<br>
            {% for error in form.personwagons.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}